.draggable{
    width: 30%;
    height: 55%;
    border-radius: 10%;
    cursor: pointer;
}

.home_panel{
    border: #363b5a solid 1px;
    height: 100%;
}

.home_panel_heading{
    background-color: #363b5a !important;
}